version: "3.8"

services:
  server:
    image: lazo-server
    container_name: lazo-server
    build: .
    ports:
      - "80:3000"
    env_file:
      - .env
    environment:
      - PORT=3000
    restart: unless-stopped
