name: Deploy Server to EC2

on:
  push:
    branches:
      - master
    paths:
      - "server/**"
      - ".github/workflows/deploy-server.yml"

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy Server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd ~/lazo-app/server
            chmod +x deploy.sh
            ./deploy.sh
